<h1>NEW JOB!!</h1>

<%= form_with model: @job, local: true do |form| %>

<% if @job.errors.any? %>

  <div id="error_explanation">
    <h2>
      <%= pluralize(@job.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>

    <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

    <p>
      <%= form.label :price %><br><span class="currency_symbol">$</span>
      <%= form.text_field :price_cents %>
    </p>

    <%= form.label :name %><br>
   <%= form.text_field :name %>
   </p>
   <p>
   <%= form.label :description %><br>
   <%= form.text_area :description %>
   </p>

   <p>
   <%= form.label :containers_needed %><br />
   <%= form.number_field :containers_needed, min: 1, max: 50 %>
   </p>

    <p>
      <%= form.label :origin %><br>
      <%= form.country_select :origin %>
    </p>

    <p>
      <%= form.label :destination %><br>
      <%= form.country_select :destination %>
    </p>

        <%= form.label 'Assign job to boat' %> <br>
        <% if !current_user.boats.all.empty? %>
          <%= form.collection_check_boxes :boat_ids, current_user.boats.all, :id, :name do |b| %>
           <%= b.check_box %>
           <%= b.label %>
             <% end %>
        <% else %>
            <p>You have no boats please click here to add one: <%= link_to "add boat", new_boat_path(current_user) %> </p>
        <% end %>

        <p>
          <%= form.submit %>
        </p>



  <% end %>
