
<%= form_with model: @job, local: true do |form| %>

    <% if @job.errors.any? %>

      <div id="error_explanation">
        <h2>
          <%= pluralize(@job.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>

        <ul>
          <% @job.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= form.label :price %><br>
      <%= form.text_field :price_cents %>
    </p>

    <p>
   <%= form.label :container_capacity %><br />
   <%= form.number_field :container_capacity, min: 1, max: 50 %>
   </p>

    <p>
      <%= form.label :origin %><br>
      <%= form.country_select :origin %>
    </p>

    <p>
      <%= form.label :destination %><br>
      <%= form.country_select :destination %>
    </p>

    <p>
      <%= form.submit %>
    </p>

  <% end %>
