<h1>DIS WHERE ALL DA JOBS GO</h1>
<br>
<% @jobs.each do |job| %>
<br>
  <li><%= link_to "Job", job_path(job.id)%></li>
  <li><%= job.user_id%></li>
  <li><%= job.name %></li>
  <li><%= job.price_cents %></li>
   <li><%= job.origin %></li>
   <li><%= job.destination %></li>
   <li><%= job.description %></li>
   <li><%= job.containers_needed %></li>


<% end %>
