<%= link_to "Cancel", jobs_path %>
<%= link_to "Edit Job", edit_job_path(@job) %>
<%= link_to "Delete Job", job_path(@job), method: :delete %>
<div class="job-name">
  <% @jobs.each do |job| %>
  <li><%= job.name %></li>
  <li><%= job.price_cents %></li>
   <li><%= job.origin %></li>
   <li><%= job.destination %></li>
   <li><%= job.descrtion %></li>
   <li><%= job.containers_needed %></li>
  <% end %>
</div>
