<%= link_to "Cancel", jobs_path %>
<%= link_to "Edit Job", edit_job_path(@job) %>
<%= link_to "Delete Job", job_path(@job), method: :delete %>
<div class="job-name">
  <li>Job name: <%= @job.name %></li>
  <li>Job id: <%= @job.id %></li>
  <li>Job cost: <span class="currency_symbol">$</span> <%= @job.price_cents %></li>
   <li>Job origin: <%= @job.origin %></li>
   <li>Job destination: <%= @job.destination %></li>
   <li>Job description: <%= @job.description %></li>
   <li>Job containers: <%= @job.containers_needed %></li>
   <li>Boat Assigned to Job: <%= @job.boats.name %></li>

</div>
<br>
