<%= form_with model: @boat do |form| %>
    <%= form.file_field :avatar %>
    <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :country_code %><br />
    <%= form.country_select :country_code %>
    </p>
    <p>
    <%= form.submit %>
  </p>

<% end %>
