<%= form_with model: @boat, local: true do |form| %>

<% if @boat.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@boat.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @boat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
    <p>
    <%= form.file_field :avatar %>
  </p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :country_code %><br />
    <%= form.country_select :country_code %>
    </p>
    <p>
   <%= form.label :container_capacity %><br />
   <%= form.number_field :container_capacity, min: 1, max: 50 %>
   </p>
    <p>
    <%= form.submit %>
  </p>

<% end %>
