<%= form_with model: @boat do |form| %>
    <%= form.file_field :image %>
    <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    </p>
    <p>
    <%= form.submit %>
  </p>

<% end %>
