<h1>DIS WHERE ALL DA BOATS GO</h1>
<br>
<% @boats.each do |boat| %>
  <li>USER EMAIL: <%= boat.user_id %> </li>
  <br>
  <li>NAME: <%= boat.name %></li>
  <br>
  <li>LOCATION: <%= boat.country_code %></li>
  <br>
  <li>LOCATION: <%= boat.container_capacity %></li>
  <%= link_to image_tag(boat.avatar.url(:medium)), boat_path(boat) %>
<br>


<% end %>
