<% if @boat.user.id == current_user.id %>
  <div class="text-center edit-links">
    <%= link_to "Cancel", boats_path %>
    |
    <%= link_to "Edit Boat", edit_boat_path(@boat) %>
    <%= link_to 'Destroy', @boat, :method => :delete %>
  </div>
<% else %>
  <div class="text-center edit-links">
    <%= link_to "Back", boats_path %>
  </div>
<% end %>

<br>
<div class="boat-name">
  <h1><%= @boat.name %></h1>
</div>
<div class="boat-avatar">
<%= image_tag(@boat.avatar.url) %>
</div>
<h2>Boat Details</h2>
<li>Boat ID: <%= @boat.user_id %></li>
 <li>Boat Location: <%= @boat.country_code %></li>
 <li>Boat Container capactiy: <%= @boat.container_capacity %></li>
