<h3> <%= @boat.name %></h3>
<div class="boat-avatar">
<%= image_tag(@boat.avatar.url) %>
</div>
<ul>
 <li>OWNER: <%= @boat.user.user_name %> </li>
  <li>LOCATION: <%= @boat.country_code %></li>
  <li>CONTAINER CAPACITY: <%= @boat.container_capacity %></li>
</ul>

<% if @boat.user.id == current_user.id %>
  <div class="edit-links">
    <%= link_to "Edit Boat", edit_boat_path(@boat) %> |
    <%= link_to 'Delete Boat', @boat, :method => :delete %> |
    <%= link_to "Boat Index", '/' %>
  </div>
<% else %>
  <div class="text-center edit-links">
    <%= link_to "Back", '/' %>
  </div>
<% end %>
